*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Crypto1/.classpath
Crypto1/.project
Crypto1/.settings/org.eclipse.jdt.core.prefs
*.cproject
*.project
Crypto2/MusicPlayer/.settings/language.settings.xml
*.mk
*.d
*.o
*.mp3
Crypto2/MusicPlayer/Debug/makefile
